html
{
    margin: 0;
}

body
{
    font-family: Arial;
    font-size: 1em;

    display: grid;

    margin: 0;

    color: black;

    grid-template-columns: 1fr 50em 17em 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas: 'header header header header' 'nav nav nav nav' '. message aside . ' '. content aside .' 'footer footer footer footer';
}

header
{
    grid-area: header;
}

body > nav
{
    grid-area: nav;
}

section
{
    grid-area: content;
}

aside
{
    grid-area: aside;
}

footer
{
    grid-area: footer;
}

/*** HEADER ***/

header
{
    margin: 1em 8em 1em 3em;
}

header #logo img
{
    height: 100px;
}

body > nav
{
    width: 100%;
    margin: 0 0;

    background-color: rgba(38, 38, 38, 1);
}

body > nav ul
{
    font-family: 'Arial Black', Arial;

    margin: 0;

    list-style-type: none;
}

body > nav ul li
{
    display: inline-block;

    padding: .7em 1em;

    border-right: 1px solid white;
}

body > nav ul a
{
    text-decoration: none;

    color: white;
}

body > nav ul a:hover
{
    text-decoration: underline;
}

body > nav .selected {
    text-decoration: underline;
    font-weight: bold;
}

/*** PAGES ***/

body > section
{
    margin: 1em;
    padding: 0;

    border: 1px solid black;
    border-radius: .4em;
    background-color: white;
}

h1
{
    font-family: 'Arial Black', Arial;
    font-size: 1em;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: .5em;

    color: white;
    border: 1px solid black;
    border-radius: .4em;
    background-color: rgba(38, 38, 38, 1);
}

h2
{
    border-bottom: 1px solid rgba(38,38,38,1);
}

body > section > section
{
    margin: 1em;
}

body > aside
{
    margin: 1em;
    padding: 0;

    border: 1px solid black;
    border-radius: .4em;
}

body > aside > section
{
    margin: 1em;
}

#loginData
{
    font-size: .9em;
}

#loginData #user
{
    margin-bottom: 3em;
}

#loginData p
{
    margin: .5em 0;
}

.title
{
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

.filmbox
{
    font-family: Arial;
    font-size: .75em;

    display: inline-block;
    overflow: hidden;

    width: 125px;
    height: 225px;
    margin: .5em;
    padding: .3em .3em;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: inherit;
    border: 1px solid;
    border-color: rgba(38, 38, 38, 1);
    border-radius: .5em;
    background-color: white;
    box-shadow: 0 1px 1px 1px #888;
}

.thumb
{
    position: absolute;

    width: 125px;
    height: 225px;

    opacity: .5;

    filter: alpha(opacity=50);
}
.thumb:hover
{
    opacity: 0;
}

.filmbox > p
{
    margin: 0 .3em;
}

.filmbox img
{
    width: 120px;
    height: 140px;

    border-radius: .5em;
}

.filmname
{
    margin: .8em .5em;

    text-align: left;
}

.filmbox > .years
{
    display: flex;

    margin: .3em .3em .7em .3em;

    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.filmyear
{
    font-family: Arial;

    margin: 0;

    text-align: left;
}

.filmetar
{
    font-family: Arial;
    font-size: .9em;

    width: 2em;
    width: fit-content;
    margin: 0;
    padding: .5em;

    border: 1px solid;
    border-color: rgba(38, 38, 38, 1);
    border-radius: .5em;
    background-color: rgba(242, 242, 242, 1);
}

.filmetar:before
{
    content: 'M/';
}

.filmpreco
{
    margin: 2em auto 0 auto;
}

.filmpreco:after
{
    content: ' €';
}

.flexbox
{
    display: inline-block;
    display: flex;
    flex-direction: row;

    width: fit-content;
    margin: 1em;
    padding: 0;

    text-align: justify;

    flex-wrap: wrap;
    justify-content: flex-start;
}

#login
{
    display: inline-block;

    width: 32%;

    text-align: right;

    align-self: center;
}

#login form
{
    display: inline-block;

    padding: .3em;

    text-align: right;
    vertical-align: bottom;

    border: 1px solid black;
    border-radius: .5em;
    background-color: white;
}

#login input[type=text],
#login input[type=password]
{
    font-size: .8em;

    width: 14em;
    height: 2em;
}

#login form
{
    padding: .5em;
}

#login input[type=submit]
{
    font-size: .66em;

    margin: 0 .2em;
}

#login p
{
    margin: 0;
}

input
{
    margin: .2em;
    padding: .1em .4em;

    text-decoration: none;

    border: 1px solid rgba(38, 38, 38, 1);
    border-radius: .3em;
}

input[type=submit]
{
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-variant: small-caps;

    display: inline-block;

    box-sizing: content-box;
    padding: .1em .3em;

    text-align: center;
    text-decoration: none;

    color: white;
    border: 2px solid rgba(38, 38, 38, 1);
    border-radius: .4em;
    background-color: rgba(38, 38, 38, 1);
}

input[type='submit']:hover
{
    cursor: pointer;

    color: rgba(38, 38, 38, 1);
    background-color: white;
}

.flexbox2
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}


#message
{
    margin: 0 1em;

    border: 0;
    border-radius: 0;

    grid-area: message;
}

.success,
.error
{
    font-size: .75em;

    margin: .5em 0;
    padding: 1em;

    text-align: center;

    border-radius: .4em;
}

.success
{
    background-color: rgb(100, 159, 108);
}

.error
{
    background-color: rgb(204, 136, 136);
}

#loginActive
{
    align-self: flex-end;
}

#loginActive > a
{
    font-weight: bold;

    text-decoration: none;

    color: inherit;
}

#loginActive > a:hover
{
    text-decoration: underline;
}

#secundaryMenu ul
{
    margin-left: 0;
    padding-left: 1.5em;

    list-style-type: none;
}

#secundaryMenu ul > li:before
{
    content: '>';
}

#secundaryMenu ul a
{
    text-decoration: none;

    color: inherit;
}

#secundaryMenu ul a:hover
{
    font-weight: bold;
}

#secundaryMenu > nav .selected {
  font-weight: bolder;
}

#updateData p,
#register p
{
    margin-top: 0;
    margin-bottom: 0;
}

#updateData input,
#register input
{
    height: 2em;
}

#updateData input[name='name']
{
    width: 20em;
}

#updateData input[name='email']
{
    width: 20em;
}

#register input[name='email']
{
    width: 22.5em;
}

#updateData input[name='username'],
{
    display: none;

    width: 7em;
}

#updateData input[name='telephone'],
#register input[name='telephone']
{
    width: 5.5em;
}

#updateData input[name='nif'],
#register input[name='nif']
{
    width: 5.5em;
}

#updateData input[name='address'],
#register input[name='address']
{
    width:         available;
    width:    -moz-available;
    width: -webkit-available;
}

#updateData input[name='postcode1'],
#register input[name='postcode1']
{
    width: 3em;

    text-align: center;
}

#updateData input[name='postcode2'],
#register input[name='postcode2']
{
    width: 2em;

    text-align: center;
}

#updateData input[name='locality'],
#register input[name='locality']
{
    width: 20em;
}

.submit
{
    margin-top: 1em;

    text-align: right;
}

.submit input[type='submit']
{
    padding: .3em 1em;
}

/* DETALHES DO FILME */
#filmDetails
{
    display: grid;

    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 'cover header buttons' 'cover sinopse sinopse' 'trailer trailer trailer';
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

#filmDetails > #filmHeader
{
    grid-area: header;
}

#filmDetails #filmName
{
    font-family: 'Arial Black', Arial;
    font-size: 2em;
    font-weight: bold;

    margin: 0;
}

#filmDetails #filmParticulars
{
    font-size: .8em;

    margin: 0;

    color: #666;
}

#filmDetails #preco
{
    margin-bottom: 0;
}

#filmDetails #preco:after
{
    font-size: 1.2em;

    content: '€';
}

#filmDetails > #sinopse
{
    text-align: justify;

    grid-area: sinopse;
}

#filmDetails > img
{
    width: 150px;
    margin-top: .8em;

    border-radius: .4em;

    grid-area: cover;
}

#filmDetails > #trailer
{
    grid-area: trailer;
    justify-self: center;
}

#filmDetails > #trailer > iframe
{
    border: 2px solid rgba(38,38,38,1);
    border-radius: .4em;
}

#filmDetails > #buttons
{
    grid-area: buttons;
}

#filmDetails > #buttons form {
    display: flex;
    justify-content: space-evenly;
}

#filmDetails > #buttons button {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5em;
    padding: 0;
    text-align: right;
} 
