html {
  margin: 0;
}

body {
display: grid;
grid-template-columns: 1fr 55em 20em 1fr;
grid-template-rows: auto auto 1fr auto;

grid-template-areas: "header header header header"
					 "nav nav nav nav"
                     ". content aside ."
                     "footer footer footer footer";

font-family: Arial;
color: black;
margin: 0;
}

header {
grid-area: header;
}

body > nav {
grid-area: nav;
}

section {
grid-area: content;
}

aside {
grid-area: aside;
}

footer {
grid-area: footer;
}

/*** HEADER ***/
header {
margin: 1em 3em;
}

header #logo img{
height: 100px;
}

body > nav {
background-color: black;
margin: 0 0;
width: 100%;
}

body > nav ul {
list-style-type: none;
margin: 0;

font-family: 'Arial Black', Arial;
}

body > nav ul li {
display: inline-block;
padding: 0.7em 1em;
border-right: 1px solid white;
}

body > nav ul a {
color: white;
text-decoration: none;
}

body > nav ul a:hover {
text-decoration: underline;
}

/*** PAGES ***/
body > section {
margin: 1em auto 0 auto;
padding: 1em;

border: 1px solid black;
border-radius: 4px;
background-color: white;
}

h1 {
font-family: 'Arial Black', Arial;
font-size: 1em;
color: white;
background-color: black;

margin: -1em -1em 1em -1em;  
padding: 0.5em;
box-sizing: border-box;
}

body > aside {
margin: 1em auto 0 auto;
border: 1px solid black;
border-radius: 4px;
padding: 1em;
}
