html
{
    margin: 0;
}

body
{
    font-family: Arial;

    display: grid;

    margin: 0;

    color: black;

    grid-template-columns: 1fr 50em 17em 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas: 'header header header header' 'nav nav nav nav' '. message aside . ' '. content aside .' 'footer footer footer footer';
}

header
{
    grid-area: header;
}

body > nav
{
    grid-area: nav;
}

section
{
    grid-area: content;
}

aside
{
    grid-area: aside;
}

footer
{
    grid-area: footer;
}

/*** HEADER ***/

header
{
    margin: 1em 8em 1em 3em;
}

header #logo img
{
    height: 100px;
}

body > nav
{
    width: 100%;
    margin: 0 0;

    background-color: rgba(38, 38, 38, 1);
}

body > nav ul
{
    font-family: 'Arial Black', Arial;

    margin: 0;

    list-style-type: none;
}

body > nav ul li
{
    display: inline-block;

    padding: .7em 1em;

    border-right: 1px solid white;
}

body > nav ul a
{
    text-decoration: none;

    color: white;
}

body > nav ul a:hover
{
    text-decoration: underline;
}

/*** PAGES ***/

body > section
{
    margin: 1em;
    padding: 0;

    border: 1px solid black;
    border-radius: .4em;
    background-color: white;
}

h1
{
    font-family: 'Arial Black', Arial;
    font-size: 1em;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: .5em;

    color: white;
    border: 1px solid black;
    border-radius: .4em;
    background-color: rgba(38, 38, 38, 1);
}

body > section > section
{
    margin: 1em;
}

body > aside
{
    margin: 1em;
    padding: 0;

    border: 1px solid black;
    border-radius: 0.4em;
}

body > aside > section
{
    margin: 1em;
}

#loginData
{
    font-size: .9em;
}

#loginData #user
{
    margin-bottom: 3em;
}

#loginData p
{
    margin: .5em 0;
}

.title
{
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

.filmbox
{
    font-family: Arial;
    font-size: .75em;

    display: inline-block;
    overflow: hidden;

    width: 125px;
    height: 225px;
    margin: .5em;
    padding: .3em .3em;

    text-align: center;
    vertical-align: top;

    border: 1px solid;
    border-color: rgba(38, 38, 38, 1);
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0 1px 1px 1px #888;
}

.filmbox > p
{
    margin: 0 .3em;
}

.filmbox img
{
    width: 120px;
    height: 140px;

    border-radius: 0.5em;
}

.filmname
{
    margin: .8em .5em;

    text-align: left;
}

.filmbox > .years
{
    display: flex;

    margin: .3em .3em .7em .3em;

    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.filmyear
{
    font-family: Arial;

    margin: 0;

    text-align: left;
}

.filmetar
{
    font-family: Arial;
    font-size: .9em;

    width: 2em;
    width: fit-content;
    margin: 0;
    padding: .5em;

    border: 1px solid;
    border-color: rgba(38, 38, 38, 1);
    border-radius: 0.5em;
    background-color: rgba(242, 242, 242, 1);
}

.filmetar:before
{
    content: 'M/';
}

.filmpreco
{
    margin: 2em auto 0 auto;
}

.filmpreco:after
{
    content: ' €';
}

.flexbox
{
    display: inline-block;
    display: flex;
    flex-direction: row;

    width: fit-content;
    margin: 1em;
    padding: 0;
    text-align: justify;

    flex-wrap: wrap;
    justify-content: flex-start;
}

#login
{
    display: inline-block;

    width: 32%;

    text-align: right;

    align-self: center;
}

#login form
{
    display: inline-block;

    padding: .3em;

    text-align: right;
    vertical-align: bottom;

    border: 1px solid black;
    border-radius: 0.5em;
    background-color: white;
}

#login table,
#login input[type=text],
#login input[type=password]
{
    font-size: .8em;
}

#login input[type=submit]
{
    font-size: .66em;

    margin: 0 .2em;
}

#login p
{
    margin: 0;
}

input
{
    margin: .2em;
    padding: .1em .4em;

    text-decoration: none;

    border: 1px solid rgba(38, 38, 38, 1);
    border-radius: 0.3em;
}

input[type=submit]
{
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: .66em;
    font-weight: bolder;
    font-variant: small-caps;

    display: inline-block;

    padding: .1em .3em;

    text-align: center;
    text-decoration: none;

    color: white;
    border: 2px solid rgba(38, 38, 38, 1);
    border-radius: 0.4em;
    background-color: rgba(38, 38, 38, 1);
}

input[type='submit']:hover
{
    cursor: pointer;

    color: rgba(38, 38, 38, 1);
    background-color: white;
}

.flexbox2
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}


#message {
  grid-area: message;
  margin: 0 1em;
  border: 0;
  border-radius: 0;
}

.success,
.error
{
    font-size: .75em;

    margin: .5em 0;
    padding: 1em;

    text-align: center;

    border-radius: .4em;
}

.success
{
    background-color: rgb(100, 159, 108);
}

.error
{
    background-color: rgb(204, 136, 136);
}
