html, body {
	margin: 0;
	width: 100% !important;
	height: 100% !important;
}

body {
    background-color: rgba(242,242,242,1);
    background-repeat: no-repeat;
	background-attachment: fixed;

	color: #0d0d0d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

/*** INDEX PAGE ***/

.index {
	padding: 50px 50px 0 50px ;
}

#index-logo {
	display: block;
	text-align: center;
	width: 100%;
}

.author {
	display: inline-block;
	width: 49%;
	text-align: center;
}

.index .button {
    background-color: rgba(38,38,38,1);
    color: white;
    padding: 8px 50px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
	font-family: 'Arial Black';
	font-variant: small-caps;
	border: 2px solid;
    border-radius: 4px;
	border-color: rgba(38,38,38,1);
}

.textbox {
	background-color: white;
	width: 167px; /* to match (160px image + 7px border) */
	padding: 6px 3px;
	text-align: center;
    display: inline-block;
	font-size: 12px;
	font-family: Arial;
	border: 1px solid;
    border-radius: 4px;
	border-color: rgba(38,38,38,1);
}

.author img {
	width:160px;
	height:200px; 
	border: 7px solid; 
	border-color: white; 
	box-shadow: 0px 1px 1px 1px #888888;
	border-radius: 4px;
}

/*** HEADERS E MENUS ***/

.header {
	display: inline-block;
	text-align: left;
	width: 49%;
	margin: 20px 0px 0px 0;
	padding: 0 50px
}

.login-area {
	display: inline-block;
	width: 32%;
	margin: 20px 0 0px 20px;
	padding: 0 50px;
	text-align: right;
}

.login-area form {
	display: inline-block;
	padding: 5px;
	text-align: right;
	vertical-align: bottom;

	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
}

.login-area table, .login-area input[type=text], .login-area input[type=password] {
	font-size: 10pt;
}

.login-area input[type=submit] {
	font-size: 8pt;
	margin: 0 10px;
}

nav {
	display: block;
	background-color: rgba(38,38,38,1);
	width: 100%;
	margin: 0;
	margin-top: 10px;
}

nav ul {
	display: inline;
	list-style-type: none;
}

nav li {
	display: inline-block;
	padding: 10px;
	border-right: 1px solid whitesmoke;
}

nav li:last-child {
	border-right: 0;
}

nav a{
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: white;
	font-weight: bold;
	text-decoration-line: none;
}

nav a:hover, .is-active {
	text-decoration: underline;
}

/*** PÁGINAS ***/
#page-content {
	margin: 20px 70px 0 60px;
}

.fullsize {
	width: 100%;
}

.left-size {
	width: 78%;
	vertical-align: top;
}

.right-size {
	width: 20%;
	vertical-align: top;
}

h1 {
	display: block;
	position: relative;

	background-color: rgba(38,38,38,1);
	border: 1px solid rgba(38,38,38,1);
	border-radius: 4px;

	font-size: 11pt;
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;

	margin: 0;
	padding: 2px 0;
	padding-left: 10px;
	box-sizing: border-box;
}

h2 {
	display: block;
	position: relative;

	font-size: 12pt;
	border-bottom: 1px solid rgba(38,38,38,1);
}

.content {
	display: block;
	position: relative;

	height: 60% !important;
	overflow: visible;
	box-sizing: border-box;

	padding: 10px;
	box-sizing: border-box;	
}

section {
	display: inline-block;
	position: relative;

	height: 60% !important;
	overflow: visible;
	box-sizing: border-box;

	background-color: white;
	border: 1px solid rgba(38,38,38,1);
	border-radius: 4px;
}

/*** FORMULÁRIOS ***/
input[type=submit] {
	display: inline-block;

	background-color: rgba(38,38,38,1);
	border: 2px solid rgba(38,38,38,1);
	border-radius: 4px;
	padding: 1px 3px;
	
    color: white;
    text-align: center;
	font-family: 'Arial Black';
	font-variant: small-caps;
	font-size: 8pt;
}

input[type=submit]:hover, .button:hover {
	background-color: white;
    color: rgba(38,38,38,1);
	cursor: pointer;
}

.text-input, .login-area input[type=text], .login-area input[type=password], .button {
	margin: 2px;
	padding: 2px;

	border: 1px solid rgba(38,38,38,1);
	border-radius: 3px;
	text-decoration: none;
}